version: '3'

services:
  db:
    image: mysql:latest
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_DATABASE: sso
      MYSQL_ROOT_PASSWORD: password
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  go-api-gateway-app:
    build:
      context: .
      dockerfile: api_gateway/Dockerfile
    ports:
      - "5000:5000"

  go-auth-service-app:
    build:
      context: .
      dockerfile: auth_service/Dockerfile
    depends_on:
      db:
        condition: service_healthy

volumes:
  mysql-data: